<div>
    <h1>Order confirmation</h1>
    <p>Thank you for your order.</p>
    <p>Please transfer the total price of {{totalPrice}} using the payment information below. The full amount must be transferred and registered into the account before {{paymentDeadline}}. If payment is not registered in time, the purchase will not be valid. The transfer of funds might take several days, we encourage to do this as soon as possible in order for the payment to be registered in time.</p>
</div>